<div id="navs" class="top-nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="index.html">Mercantile</a></h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--shylock">
                    <ul class="nav navbar-nav link-effect-7" id="link-effect-7">
                        <li><a href="index.html" data-hover="Home">Home</a></li>
                        <li><a href="services.html" data-hover="Services">Services</a></li>
                        <li class="active"><a href="about.html" data-hover="About Us">About Us</a></li>
                        <li><a href="short-codes.html" data-hover="Short Codes">Short Codes</a></li>
                        <li><a href="mail.html" data-hover="Mail Us">Mail Us</a></li>
                    </ul>
                </nav>
            </div>
        </nav>	
    </div>	
</div>	
