html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}
p{
	margin:0;
}
p,ul li,ol li{
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Sanchez', serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],.w3ls_banner_scroll a,.agile_recent_tag ul li a,.agileits_categories ul li a,.w3agile_single_left1 ul li a,.agileits_tags ul li a,.w3agile_more a,.agileinfo_services_grid1 h4 a,.agileinfo_footer_grid_nav li a,.w3agile_footer_copy p a,.agileinfo_footer_grid ul.agileinfo_footer_grid_list li a,.w3_blog_grid_right h4 a,.w3_blog_grid_right ul li a,.view-sixth a.info,.wthree_steps_grid1,.wthree_steps_grid1_sub,.wthree_steps_grid h4{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
/*-- nav --*/
.top-nav {
    background:#008BFF;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #212121;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #212121;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    height: 70px;
    padding:15px 0;
    font-size: 1.3em;
    line-height: 40px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-nav > li > a {
    font-size: 14px;
    padding:25px 0;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.link-effect-7 {
  -moz-perspective: 900px;
  -webkit-perspective: 900px;
  perspective: 900px;
}
.link-effect-7 a {
  text-shadow: none;
  margin: 0 20px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link-effect-7 li.active a::before {
  color: #212121;
}
.link-effect-7 a::before {
  color: white;
  content: attr(data-hover);
  position: absolute;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-transform-origin: 50% 0 50%;
  -ms-transform-origin: 50% 0 50%;
  -webkit-transform-origin: 50% 0 50%;
  transform-origin: 50% 0 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.link-effect-7 a:hover {
  color: #797878;
}
.link-effect-7 a:hover::before {
  -moz-transform: translateY(22px) rotateX(-90deg);
  -ms-transform: translateY(22px) rotateX(-90deg);
  -webkit-transform: translateY(22px) rotateX(-90deg);
  transform: translateY(22px) rotateX(-90deg);
  -o-transform: translateY(22px) rotateX(-90deg);
}
/*-- //nav --*/
/*-- banner --*/
.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:600px;
	position:relative;
}
.w3l_banner_info {
    padding: 3em 0;
    background: rgba(42, 42, 42, 0.67);
}
.w3l_banner_info_grid{
	text-align:center;
}
.w3l_banner_info_grid h3{
	font-size:2em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.w3l_banner_info_grid p{
	margin:1em 0 0;
	color:#fff;
	line-height:1.8em;
}
.w3ls_banner_scroll{
	position: absolute;
    bottom: 5%;
    left: 52%;
    width: 50px;
    height: 65px;
    border: 1px solid #000;
    border-radius: 25px;
}
.w3ls_banner_scroll a{
	background:url(../images/img-sp.png) no-repeat 13px 26px;
	display:block;
	width: 50px;
    height: 65px;
}
.w3ls_banner_scroll a:hover{
	margin-top:.5em;
}
/*-- //banner --*/
/*-- steps --*/
.steps,.blog,.services,.about,.skills,.team,.typo,.mail,.single{
	padding:5em 0;
}
h3.head{
	font-size: 2em;
    color: #212121;
    text-transform: capitalize;
    text-align: center;
}
p.urna{
	color:#999;
	padding:.5em 0 2em;
	line-height:1.8em;
	position:relative;
	text-align:center;
	font-weight: 500 !important;
}
p.urna:after{
	content: '';
    background: #008BFF;
    width: 10%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 45%;
}
.wthree_steps_grid{
	text-align:center;
	position:relative;
}
.wthree_steps_grid1_after:after{
	content: '';
    background: #EEE;
    height: 2px;
    width: 79%;
    position: absolute;
    left: 61%;
    top: 21%;
}
.wthree_steps_grid1{
	width: 80px;
    height: 80px;
    border: 1px solid #999;
    border-radius: 40px;
	margin: 0 auto;
}
.wthree_steps_grid:hover .wthree_steps_grid1{
	border: 1px solid #008BFF;
}
.wthree_steps_grid:hover .wthree_steps_grid1_sub span{
	color: #fff;
}
.wthree_steps_grid:hover .wthree_steps_grid1_sub{
	background: #212121;
}
.wthree_steps_grid1_sub{
	background: #f5f5f5;
    width: 63px;
    height: 63px;
    border-radius: 40px;
    margin: 0.5em auto;
}
.wthree_steps_grid1_sub span{
	color: #008BFF;
    font-size: 1em;
    top: 1.3em;
}
.wthree_steps_grid h4{
	font-size:1.2em;
	color: #212121;
	margin:1em 0;
	text-transform:capitalize;
}
.wthree_steps_grid:hover h4{
	color: #008BFF;
}
.wthree_steps_grid p {
	color:#999;
	line-height:1.8em;
}
.wthree_steps_grids{
	margin:3em 0 0;
}
/*-- //steps --*/
/*-- count --*/
.count{
	background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 400px;
    padding:8em 0 5em;
}
.agile_count_grid_left{
	float:left;
}
.agile_count_grid_left span{
	color:#fff;
}
.agile_count_grid_left span,.agile_count_grid_right p{
	font-size:2em;
}
.agile_count_grid_right{
	float: left;
    margin-left: 2em;
}
.agile_count_grid_right p{
	color:#fff;
}
.agile_count_grid h3{
	font-size: 1.3em;
    color: #fff;
    margin:1em 0 0;
    text-transform: uppercase;
    letter-spacing: 3px;
	position:relative;
	padding-bottom: 2em;
}
.agile_count_grid h3:after{
	content:'';
	background:#008BFF;
	height:2px;
	width:30%;
	position:absolute;
	bottom:0%;
	left:0%;
}
.agile_count_grid_left span {
    color: #008BFF;
    top: 5px;
}
/*-- work --*/
.work{
	padding:5em 0 0;
}
.agileits_work_grids {
    margin: 3em 0 0;
}
.agileits_work_grid{
	padding:0;
}
.view {
   overflow: hidden;
   position: relative;
   text-align: center;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view a.info {
   display: inline-block;
    text-decoration: none;
    padding:20px 30px;
    background: #008BFF;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-sixth img {
   -webkit-transition: all 0.4s ease-in-out 0.5s;
   -moz-transition: all 0.4s ease-in-out 0.5s;
   -o-transition: all 0.4s ease-in-out 0.5s;
   -ms-transition: all 0.4s ease-in-out 0.5s;
   transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
   background-color: rgba(0, 0, 0, 0.5);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0.4s;
    -moz-transition: all 0.3s ease-in 0.4s;
    -o-transition: all 0.3s ease-in 0.4s;
    -ms-transition: all 0.3s ease-in 0.4s;
    transition: all 0.3s ease-in 0.4s;
    width: 100%;
    height: 100%;
	padding: 7.5em 0 0;
}
.view-sixth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth a.info:hover{
	background:#fff;
	color:#212121;
}
.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}	
/*--flexisel--*/
.flex-slider{	
background:#222227;
padding: 70px 0 165px 0;
}
.opportunity{
background:#28282e;
margin:0px 20px;
padding:80px 0;
position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:60px;
	height:115px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left:0%;
	top: 15% !important;
	display:none;
	}
.nbs-flexisel-nav-right {
	right: 0%;
	top: 15% !important;
	display:none;
	}
/*--//flexisel--*/
/*-- //work --*/
/*-- blog --*/
.w3_blog_grids {
    margin: 3em 0 0;
}
.w3_blog_grid_left{
	padding:0;
}
.w3_blog_grid_right{
	background: #008BFF;
    padding: 5.5em 1.5em 0;
    min-height: 406px;
}
.w3_blog_grid_right h4 a{
	font-size:1.3em;
	color:#fff;
	text-decoration:none;
	text-transform:capitalize;
}
.w3_blog_grid_right h4 a:hover{
	color:#212121;
}
.w3_blog_grid_left img{
	width:100%;
}
.w3_blog_grid_right h5{
	font-size:14px;
	color:#212121;
	padding:.5em 0 1em;
	font-style:italic;
	position:relative;
}
.w3_blog_grid_right h5:after{
	content:'';
	background:#fff;
	height:2px;
	width:30%;
	position:absolute;
	bottom:0%;
	left:0%;
}
.w3_blog_grid_right p{
	color:#fff;
	line-height:2em;
	margin:1.5em 0 1em;
}
.w3_blog_grid_right ul li{
	display:inline-block;
	color:#fff;
}
.w3_blog_grid_right ul li span{
	padding-right:1em;
}
.w3_blog_grid_right ul li a{
	text-decoration:none;
	color:#fff;
}
.w3_blog_grid_right ul li a:hover{
	color:#212121;
}
.w3_blog_grid_right ul li:last-child {
    margin-left: 2em;
}
/*-- //blog --*/
/*-- newsletter --*/
.newsletter{
	background:url(../images/6.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:400px;
	padding:7em 0 5em;
}
.w3agile_newsletter_left h3{
	font-size:2em;
	color:#fff;
	position:relative;
	padding-bottom:1em;
}
.w3agile_newsletter_left h3:after{
	content:'';
	background:#fff;
	width:30%;
	height:2px;
	position:absolute;
	bottom:0%;
	left:0%;
}
.w3agile_newsletter_left p{
	color:#fff;
	line-height:2em;
	margin:2em 0 0;
}
.w3agile_newsletter_right input[type="email"]{
	outline:none;
	border:1px solid #fff;
	color:#fff;
	font-size:14px;
	padding:10px;
	width:70%;
	float:left;
	background:none;
}
.w3agile_newsletter_right input[type="submit"]{
	outline: none;
    border: 1px solid #FFFFFF;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    width: 30%;
    background: #008BFF;
}
.w3agile_newsletter_right input[type="submit"]:hover{
	background: #fff;
	border: 1px solid #008BFF;
	color:#212121;
}
.w3agile_newsletter_right {
    margin: 5em 0 0;
}
.w3agile_newsletter_left {
    padding-right: 2em;
}
/*-- //newsletter --*/
/*-- footer --*/
.footer{
	padding:5em 0;
}
.agileinfo_footer_grid h2 a{
	font-size:1.2em;
	color:#008BFF;
	text-decoration:none;
}
.agileinfo_footer_grid p{
	color:#999;
	margin:1em 0 2em;
	line-height:2em;
}
/*-- social-icons --*/
ul.social-icons li{
	display:inline-block;
}
.icon-button {
    background-color: #D9D9D9;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin: 0 3px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2rem;
}
.icon-button i {
    background: none;
    color: white;
    height: 2rem;
    left: 0;
    line-height: 2rem;
    position: absolute;
    top: 0;
    width: 2rem;
    z-index: 10;
}
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    position: absolute;
    top:0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.twitter span{
    background-color:#3b5998;
}
.google span{
	background-color:#55acee;
}
.v span{
	background-color:#dd4b39;
}
.pinterest span{
	background-color:#833ab4;
}
.icon-button:hover span {
    width: 2rem;
    height: 2rem;
    margin: 0;
}
ul.social-icons li .icon-button .icon-twitter{
    background:url(../images/img-sp.png) no-repeat -4px -35px;
    display: block;
}
ul.social-icons li .icon-button .icon-twitter:hover{
    background-position:-4px -74px;
}
ul.social-icons li .icon-button .icon-google{
    background:url(../images/img-sp.png) no-repeat -42px -38px;
    display: block;
}
ul.social-icons li .icon-button .icon-google:hover{
    background-position:-42px -74px;
}
ul.social-icons li .icon-button .icon-v{
    background:url(../images/img-sp.png) no-repeat -79px -36px;
    display: block;
}
ul.social-icons li .icon-button .icon-v:hover{
    background-position:-79px -71px;
}
ul.social-icons li .icon-button .pinterest{
    background:url(../images/img-sp.png) no-repeat -125px -36px;
    display: block;
}
ul.social-icons li .icon-button .pinterest:hover{
    background-position:-125px -70px;
}
/*-- //social-icons --*/
.agileinfo_footer_grid h3{
	font-size: 1.5em;
    color: #212121;
    padding-bottom: .5em;
    position: relative;
    margin-bottom: 1.5em;
}
.agileinfo_footer_grid h3:after{
	content:'';
	background:#008BFF;
	width:25%;
	height:2px;
	position:absolute;
	bottom:0%;
	left:0%;
}
.agileinfo_footer_grid ul.agileinfo_footer_grid_list li,.agileinfo_footer_grid_nav li {
    list-style-type: none;
    margin-bottom: 1em;
	color: #999;
}
.agileinfo_footer_grid ul.agileinfo_footer_grid_list li i {
    color: #999;
    border: 1px solid #999;
    padding: .5em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-right: 1em;
}
.agileinfo_footer_grid ul.agileinfo_footer_grid_list li span {
    display: block;
    margin-left: 3em;
}
.agileinfo_footer_grid ul.agileinfo_footer_grid_list li a,.agileinfo_footer_grid_nav li a{
	color:#212121;
	text-decoration:none;
}
.agileinfo_footer_grid ul.agileinfo_footer_grid_list li a:hover,.agileinfo_footer_grid_nav li a:hover{
	color:#999;
	text-decoration:none;
}
.agileinfo_footer_grid_nav li span {
    color: #212121;
    padding-right: 1.5em;
}
.w3agile_footer_copy{
	margin:3em 0 0;
	padding:1em 0;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	text-align:center;
}
.w3agile_footer_copy p{
	color:#999;
	line-height:1.8em;
}
.w3agile_footer_copy p a{
	color:#008BFF;
	text-decoration:none;
}
.w3agile_footer_copy p a:hover{
	color:#999;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- services --*/
.banner1{
	background:url(../images/9.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
.banner1 h3{
	text-align: center;
    color: #212121;
    font-size: 2.5em;
    padding: .5em 0;
    position: relative;
	margin:3em 0 0;
}
.banner1 h3:before{
	border-top:4px double #fff;
	content:'';
	position:absolute;
	top:0%;
	left:40%;
}
.banner1 h3:after{
	border-bottom: 4px double #fff;
    content: '';
    position: absolute;
    bottom: 0%;
    right: 40%;
}
.banner1 h3:before,.banner1 h3:after{
	width: 20%;
}
.agileinfo_services_grids{
	margin:3em 0 0;
}
.agileinfo_services_grid1{
	position:relative;
}
.agileinfo_services_grid1:after{
	border-top: 4px solid #008BFF;
    top: -3px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    transition: all 0.4s ease-in 0s;
}
.agileinfo_services_grid1:after{
    width: 0;
}
.agileinfo_services_grid:hover  .agileinfo_services_grid1:after {
    width: 100%;
}
.agileinfo_services_grid1 h4 a{
	display: block;
    font-size: 1.2em;
    color: #212121;
    text-decoration: none;
    margin: 1.5em 0 1em;
    text-transform: capitalize;
}
.agileinfo_services_grid1 h4 a:hover{
	color:#008BFF;
}
.agileinfo_services_grid1 p{
	color:#999;
	line-height:2em;
	margin-bottom: 2.5em;
}
.w3agile_more a{
	text-decoration: none;
    color: #fff;
    padding: 8px 30px;
    background: #008BFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #212121;
    height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before,.agileinfo_services_grid:hover .hvr-underline-from-center:before{
  left: 0;
  right: 0;
}
/*-- //services --*/
/*-- about --*/
.w3_about_grid h3{
	font-size:1.8em;
	color:#212121;
	text-transform:capitalize;
	line-height:1.5em;
	margin: 3em 0 0;
}
.w3_about_grid h3 span{
	color:#008BFF;
}
.w3_about_grid p i{
	color:#212121;
	display:block;
	margin:1em 0 2em;
}
.w3_about_grid p{
	color:#999;
	line-height:2em;
}
.skills{
	background:#f5f5f5;
}
body .bar_group__bar.thin::before, body .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

body .bar_group__bar.thin::before {
  width: 100%;
  height: 30px;
  background: #fff;
}

body .bar_group__bar.thin {
  width: 0%;
  height: 30px;
  background: #008BFF;
  margin-bottom: 20px;
  -webkit-transition: width 1s;
          transition: width 1s;
}
.bar_group{
    position: relative;
    z-index: 1;
}
body .bar_group__bar.thin:last-child {
    margin-bottom: 0;
}
.agileits_skills_grids {
    margin: 3em 0 0;
}
p.b_label {
    font-size: .9em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: .8em;
}
.agile_team_grids{
	margin:3em 0 0;
}
.agile_team_grid1{
	padding: 1em;
    border: 4px double #D0D0D0;
    text-align: center;
}
.agile_team_grid1 h3{
	font-size:1em;
	text-transform:uppercase;
	color:#212121;
	margin-bottom:.5em;
}
.agile_team_grid1 p{
	color:#008BFF;
}
.agile_team_grid_main{
	position:relative;
	overflow:hidden;
}
.agile_team_grid_main .p-mask{
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.72);
    bottom: 0%;
    position: absolute;
    padding:1em 0 .6em;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: center;
}
.agile_team_grid:hover .p-mask{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
/*-- //about --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#008BFF;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.nav-tabs {
	margin-bottom: 3em;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- mail --*/
.agileinfo_mail_grid_left input[type="text"],.agileinfo_mail_grid_left input[type="email"],.agileinfo_mail_grid_left textarea{
	outline:none;
	padding:10px 10px 25px;
	color:#212121;
	font-size:14px;
	background:none;
	border:none;
	border-bottom:1px solid #212121;
	width:100%;
}
.agileinfo_mail_grid_left input[type="email"],.agileinfo_mail_grid_left input[type="text"]:nth-child(4){
	margin:1.5em 0;
}
.agileinfo_mail_grid_left input[type="submit"]{
	outline:none;
	padding:10px 0px;
	color:#fff;
	font-size:14px;
	background:#008BFF;
	border:none;
	width:100%;
}
.agileinfo_mail_grid_left input[type="submit"]:hover{
	background:#212121;
}
.agileinfo_mail_grid_left textarea{
	min-height:150px;
	margin-bottom:1.5em;
}
.agileinfo_mail_grids{
	margin:3em 0 0;
}
.agileinfo_mail_grid_right{
	padding:0 3em;
}
.agileinfo_mail_grid_right iframe{
	width:100%;
	min-height:520px;
}
/*-- //mail --*/
/*-- single --*/
.w3_search input[type="text"]{
	outline: none;
    border: 1px solid #E5E5E5;
    background: #f5f5f5;
    padding: 10px;
    font-size: 14px;
    color: #212121;
    width: 78%;
}
.w3_search input[type="submit"]{
	outline: none;
    border: 1px solid;
    background: #008BFF;
    padding: 11px 0;
    font-size: 14px;
    color: #fff;
    width: 20%;
}
.w3_search input[type="submit"]:hover{
    background: #212121;
}
.agileits_categories,.agileits_tags{
	margin:4em 0;
}
.agileits_categories.agileits_archives {
    margin: 4em 0 0 !important;
}
.agileits_widget,.agileits_categories,.agileits_tags,.w3ls_comment{
	text-align:right;
}
.agileits_categories h4,.agileits_widget h4,.agileits_tags h4,.w3ls_comment h4{
	font-size:1.5em;
	color:#212121;
	position:relative;
	padding-bottom:.5em;
	margin-bottom:1.5em;
}
.agileits_categories h4:after,.agileits_widget h4:after,.agileits_tags h4:after,.w3ls_comment h4:after{
	content:'';
	background: #008BFF;
    width: 20%;
	height:2px;
	position:absolute;
	bottom:0%;
	right:0%;
}
.agileits_categories ul li{
	list-style-type:none;
	margin-bottom:1.3em;
	color:#999;
}
.agileits_categories ul li:last-child {
    margin: 0;
}
.agileits_categories ul li span{
	color:#008BFF;
	padding-left: 1.5em;
}
.agileits_categories ul li a{
	color:#999;
	text-decoration:none;
}
.agileits_categories ul li a:hover{
	color:#212121;
}
.agileits_widget p{
	color:#999;
	line-height:2em;
}
.agileits_tags ul li{
	display:inline-block;
	margin:0 0.5em .5em 0;
}
.agileits_tags ul li a{
	color: #212121;
    padding: .5em 1em;
    text-decoration: none;
    background: #f5f5f5;
    display: block;
}
.agileits_tags ul li a:hover{
	background:#008BFF;
	color:#fff;
}
.w3agile_single_left1 ul {
    padding:2em 0;
}
.w3agile_single_left1 ul li {
    display: inline-block;
    color: #999;
    margin-right: 1em;
}
.w3agile_single_left1 ul li:last-child{
	float:right;
	margin-right:0;
}
.w3agile_single_left1 ul li span {
    padding-right: 1em;
    color: #008BFF;
}
.w3agile_single_left1 ul li a {
    color: #999;
    text-decoration: none;
}
.w3agile_single_left1 ul li a:hover{
	color:#212121;
}
.w3agile_single_left1 h4 {
    font-size: 1.7em;
    color: #212121;
    text-transform: capitalize;
}
.w3agile_single_left1 p {
    margin:1em 0 0em;
    line-height: 2em;
    color: #999;
}
.w3agile_single_left2_grid{
    padding-left: 0;
}
.w3agile_single_left2_grid p{
    padding: 1em;
    background: #F5F5F5;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    color: #999;
    text-align: center;
}
.w3agile_single_left2{
	margin:3em 0;
}
.agile_recent_tag ul li:first-child{
    margin-right: 1em;
}
.agile_recent_tag ul li {
    display: inline-block;
    font-size: 1.5em;
    color: #008BFF;
}
.agile_recent_tag ul li a {
    padding: 5px 10px;
    background:#f5f5f5;
    color: #212121;
    text-decoration: none;
    font-size: .6em;
}
.agile_recent_tag ul li a:hover{
	background:#212121;
	color:#fff;
}
.agile_recent_tag {
    margin: 1.5em 0 0;
}
.wthree_share_post{
	text-align:center;
	padding: 1.5em 0;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}
.wthree_share_post h4 {
    font-size: 1.3em;
    color: #008BFF;
    margin: 0 0 1em;
}
.w3ls_comment{
	margin:5em 0 0;
}
.w3ls_comment input[type="text"],.w3ls_comment input[type="email"],.w3ls_comment textarea{
	outline: none;
    padding: 10px;
    font-size: 14px;
    color: #212121;
    background: #f5f5f5;
    width: 100%;
    border: 1px solid #E5E5E5;
    text-transform: uppercase;
}
.w3ls_comment textarea{
	min-height:200px;
}
.w3ls_comment input[type="email"],.w3ls_comment textarea{
	margin:1em 0;
}
.w3ls_comment input[type="submit"]{
	outline:none;
	padding:10px 0;
	font-size:14px;
	color:#fff;
	background:#008BFF;
	width:30%;
	border:none;
	text-transform:uppercase;
}
.w3ls_comment input[type="submit"]:hover{
	background:#212121;
}
/*-- //single --*/
/*-----start-responsive-design------*/
@media (max-width:1366px){
	.banner {
		min-height: 525px;
	}
	.count {
		min-height: 320px;
		padding: 6em 0 5em;
	}
	.view-sixth .mask {
		padding: 6.5em 0 0;
	}
}
@media (max-width:1280px){
	.view a.info {
		padding: 18px 30px;
	}
	.banner1 {
		min-height: 235px;
	}
	.banner1 h3 {
		font-size: 2.2em;
		margin: 2.3em 0 0;
	}
	.newsletter {
		min-height: 335px;
		padding: 5em 0;
	}
}
@media (max-width:1080px){
	.navbar-brand {
		font-size: 1.2em;
	}
	.w3l_banner_info_grid h3 {
		font-size: 1.8em;
	}
	.banner {
		min-height: 490px;
	}
	.steps, .blog, .services, .about, .skills, .team, .typo, .mail, .single,.footer {
		padding: 4em 0;
	}
	.count {
		min-height: 240px;
		padding: 4em 0;
	}
	.agile_count_grid h3 {
		font-size: 1.05em;
	}
	.view-sixth .mask {
		padding: 5em 0 0;
	}
	.w3_blog_grid {
		padding-left: 0;
	}
	.w3_blog_grid_right {
		padding:4em 1em 0;
		min-height: 342px;
	}
	.w3_blog_grid_right h4 a {
		font-size: 1.2em;
	}
	.w3_blog_grid_right ul li:last-child {
		margin-left: 1em;
	}
	.w3agile_newsletter_left h3 {
		font-size: 1.8em;
	}
	.newsletter {
		min-height: 300px;
		padding: 4em 0;
	}
	.agileinfo_services_grid1 h4 a {
		font-size: 1.1em;
	}
	.w3_search input[type="submit"] {
		width: 23%;
	}
	.w3_search input[type="text"] {
		width: 75%;
	}
	.w3agile_single_left1 h4 {
		font-size: 1.5em;
	}
	.w3agile_single_left2_grid p {
		font-size: .9em;
	}
	.w3_about_grid {
		padding: 0;
	}
	.w3_about_grid h3 {
		font-size: 1.6em;
		margin: 1em 0 0;
	}
	.work {
		padding: 4em 0 0;
	}
}
@media (max-width:1024px){
	h3.head {
		font-size: 1.8em;
	}
}
@media (max-width:991px){
	.link-effect-7 a {
		margin: 0 16px;
	}
	.navbar-collapse {
		padding: 0;
	}
	.navbar-nav > li > a {
		padding: 31px 0 18px;
	}
	.w3l_banner_info_grid h3 {
		font-size: 1.35em;
	}
	.w3l_banner_info {
		padding: 2em 0;
	}
	.w3ls_banner_scroll a {
		background: url(../images/img-sp.png) no-repeat 8px 22px;
		width: 35px;
		height: 50px;
		background-size: 600%;
	}
	.w3ls_banner_scroll {
		width: 35px;
		height: 50px;
	}
	.wthree_steps_grid {
		float: left;
		width: 33.33%;
	}
	.wthree_steps_grid h4 {
		font-size: 1.1em;
	}
	.wthree_steps_grid1_after:after {
		width: 66.5%;
		left: 67%;
	}
	.agile_count_grid {
		float: left;
		width: 50%;
	}
	.agile_count_grid:nth-child(2) {
		margin-bottom: 2em;
	}
	.agile_count_grid h3 {
		padding-bottom: 1em;
	}
	.view a.info {
		padding: 15px 30px;
		font-size: 13px;
	}
	.view-sixth .mask {
		padding: 4.5em 0 0;
	}
	.w3_blog_grid_left,.w3_blog_grid_right {
		float: left;
		width: 50%;
	}
	.w3_blog_grid_right {
		padding: 10em 1em 0;
		min-height: 531px;
	}
	.w3_blog_grid:nth-child(2) {
		margin: 3em 0 0;
	}
	.w3_blog_grid_right p {
		color: #fff;
		line-height: 2em;
		margin: 2.5em 0 2em;
	}
	.w3agile_newsletter_right {
		margin: 3em 0 0;
	}
	.agileinfo_footer_grid {
		float: left;
		width: 33.33%;
	}
	.w3agile_footer_copy {
		margin: 2em 0 0;
	}
	.agileinfo_services_grid {
		float: left;
		width: 33.33%;
	}
	.agileinfo_services_grid1 h4 a {
		line-height: 1.5em;
	}
	.w3agile_single_left,.w3agile_single_right{
		padding: 0;
	}
	.agileinfo_services_grid1 p {
		margin-bottom: 1.5em;
	}
	.w3agile_single_left2_grid {
		float: left;
		width: 50%;
	}
	.w3agile_single_right {
		margin: 4em 0 0;
	}
	.agileits_categories, .agileits_tags {
		margin: 3em 0;
	}
	.w3_about_grid h3 {
		margin: 0;
	}
	.w3_about_grid:nth-child(2) {
		margin: 2em auto 0;
		width: 75%;
	}
	.agileits_skills_grid:nth-child(2) {
		margin: 1em 0 0;
	}
	.agile_team_grid {
		float: left;
		width: 50%;
	}
	.agile_team_grid_main img {
		margin: 0 auto;
	}
	.agile_team_grid:nth-child(2) {
		margin: 0 0 2em;
	}
	.agileinfo_mail_grid_right {
		padding: 0 1em;
		margin: 3em 0 0;
	}
	.agileinfo_mail_grid_right iframe {
		min-height: 350px;
	}
}
@media (max-width: 800px){
	.w3ls_banner_scroll {
		left: 50%;
	}
	.banner {
		min-height: 400px;
	}
	.steps, .blog, .services, .about, .skills, .team, .typo, .mail, .single, .footer {
		padding: 3em 0;
	}
	.work {
		padding: 3em 0 0;
	}
	.count {
		padding: 3em 0;
	}
	.agile_count_grid_left span, .agile_count_grid_right p {
		font-size: 1.8em;
	}
	.view-sixth .mask {
		padding: 3.5em 0 0;
	}
	.w3_blog_grid_right {
		min-height: 530px;
	}
	.banner1 {
		min-height: 175px;
	}
	.banner1 h3 {
		font-size: 2em;
		margin: 1.6em 0 0;
	}
}
@media (max-width: 768px){
	.navbar-brand {
		font-size: 1.1em;
	}
	.w3ls_banner_scroll {
		left: 50%;
	}
	.agile_count_grid {
		padding-left: 5em;
	}
	.view-sixth .mask {
		padding: 4.5em 0 0;
	}
	.agileits_work_grids,.w3_blog_grids,.w3_blog_grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.agileinfo_footer_grid h2 a {
		font-size: 1em;
	}
	.agileinfo_services_grid1 h4 a {
		font-size: 1.03em;
	}
	.w3ls_comment {
		margin: 3em 0 0;
	}
	.agileits_categories, .agileits_tags {
		margin: 2em 0;
	}
	.agileits_categories.agileits_archives {
		margin: 2em 0 0 !important;
	}
	body .bar_group__bar.thin,body .bar_group__bar.thin::before {
		height: 20px;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-toggle {
		margin: 1.3em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
		background: #0081EC;
		padding:1em 0;
	}
	.navbar-nav > li > a {
		padding: 11px 0;
		overflow: hidden;
	}
	.navbar-collapse {
		border-top: none;
		box-shadow: none;
	}
}
@media (max-width: 736px){
	.w3l_banner_info_grid h3 {
		font-size: 1.4em;
		line-height: 1.5em;
	}
	.w3l_banner_info_grid p {
		margin: 0.5em 0 0;
	}
	.wthree_steps_grid {
		padding: 0;
	}
	.w3_blog_grid_right {
		min-height: 507px;
	}
	.agileinfo_footer_grid {
		padding-left: 0;
	}
}
@media (max-width: 667px){
	.wthree_steps_grid1_after:after {
		width: 61.5%;
		left: 69%;
	}
}
@media (max-width: 640px){
	.banner {
		min-height: 360px;
	}
	h3.head {
		font-size: 1.6em;
	}
	.wthree_steps_grid h4 {
		font-size: 1em;
	}
	.wthree_steps_grid p {
		width: 90%;
		margin: 0 auto;
	}
	.wthree_steps_grid1_after:after {
		width: 59.5%;
		left: 70%;
	}
	.agile_count_grid {
		padding-left: 3em;
	}
	.view-sixth .mask {
		padding: 6.5em 0 0;
	}
	.w3_blog_grid {
		padding-left: 1em;
	}
	.w3_blog_grid_right {
		min-height: 422px;
		padding: 7em 1em 0;
	}
	.w3agile_newsletter_left h3 {
		font-size: 1.6em;
	}
	.agileinfo_footer_grid {
		padding-left: 1em;
		float: none;
		width: 100%;
	}
	.agileinfo_footer_grid h3 {
		font-size: 1.4em;
	}
	.agileinfo_footer_grid h3:after {
		width: 15%;
	}
	.agileinfo_footer_grid:nth-child(2) {
		margin: 2em 0;
	}
	.agileinfo_services_grid {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.agileinfo_services_grid1 h4 a {
		font-size: 1.2em;
		margin: 1em 0 0.5em;
	}
	.agileinfo_services_grid:nth-child(2) {
		margin: 2em auto;
	}
	.w3agile_single_right {
		margin: 3em 0 0;
	}
	.banner1 h3 {
		font-size: 1.8em;
		margin: 2em 0 0;
	}
	.banner1 {
		background-position:-170px 0px;
	}
	.banner1 h3:before, .banner1 h3:after {
		width: 35%;
	}
	.banner1 h3:before {
		left: 32%;
	}
	.banner1 h3:after {
		right: 33%;
	}
	.agileinfo_mail_grids {
		margin: 2em 0 0;
	}
	.agileinfo_mail_grid_right iframe {
		min-height: 300px;
	}
}
@media (max-width: 600px){
	.w3_blog_grid_right {
		min-height: 393px;
		padding: 5em 1em 0;
	}
}
@media (max-width: 568px){
	.navbar-brand {
		font-size: .93em;
	}
	.w3l_banner_info_grid h3 {
		letter-spacing: 1px;
	}
	.w3l_banner_info {
		padding: 1.5em 0;
	}
	.banner {
		min-height: 315px;
	}
	h3.head {
		font-size: 1.5em;
	}
	.wthree_steps_grids {
		margin: 2em 0 0;
	}
	.wthree_steps_grid h4 {
		font-size: .95em;
	}
	.wthree_steps_grid1_after:after {
		width: 54.5%;
		left: 73%;
		top: 18%;
	}
	.agile_count_grid h3 {
		font-size: 1em;
		letter-spacing: 2px;
	}
	.agile_count_grid_left span, .agile_count_grid_right p {
		font-size: 1.7em;
	}
	.view-sixth .mask {
		padding: 5.5em 0 0;
	}
	.w3_blog_grid_right {
		min-height: 368px;
		padding: 4em 1em 0;
	}
	.newsletter {
		padding: 3em 0;
	}
	.w3agile_newsletter_right {
		margin: 2em 0 0;
	}
}
@media (max-width: 480px){
	.steps, .blog, .services, .about, .skills, .team, .typo, .mail, .single, .footer {
		padding: 2em 0;
	}
	.wthree_steps_grid1_after:after{
		display:none;
	}
	.wthree_steps_grid {
		padding: 0 1em;
		float: none;
		width: 100%;
	}
	.wthree_steps_grid h4 {
		font-size: 1.1em;
	}
	.wthree_steps_grid p {
		width: 100%;
	}
	.banner {
		background-position:-125px 0px;
	}
	.wthree_steps_grid:nth-child(2) {
		margin: 2em 0;
	}
	.count {
		padding: 2em 0;
	}
	.agile_count_grid {
		padding-left: 1em;
	}
	p.urna {
		padding: .5em 0 1em;
	}
	.w3_blog_grid {
		padding: 0;
	}
	.w3_blog_grid_right p {
		margin: 1.5em 0 1em;
	}
	.w3_blog_grid_right ul li span {
		padding-right: .5em;
	}
	.w3_blog_grid_right ul li:last-child {
		margin-left: 0.5em;
	}
	.w3_blog_grid_right {
		min-height: 325px;
		padding: 3.5em 1em 0;
	}
	.view-sixth .mask {
		padding: 10em 0 0;
	}
	.work {
		padding: 2em 0 0;
	}
	.w3agile_footer_copy {
		margin: 1em 0 0;
	}
	.newsletter {
		padding: 2em 0;
	}
	.agileinfo_services_grid {
		width: 99%;
	}
	.agileinfo_services_grid1 h4 a {
		font-size: 1em;
	}
	.agileinfo_services_grids {
		margin: 2em 0 0;
	}
	.w3agile_single_left1 ul li:last-child {
		float: none;
		margin: 1em 0 0;
	}
	.w3agile_single_left1 h4 {
		font-size: 1.3em;
	}
	.agile_recent_tag ul li {
		font-size: 1.2em;
	}
	.w3agile_single_left2 {
		margin: 2em 0;
	}
	.w3agile_single_left2_grid {
		float: none;
		width: 95%;
		margin: 0 auto;
	}
	.w3agile_single_left2_grid:nth-child(2) {
		margin: 2em auto 0;
	}
	.w3ls_comment input[type="submit"] {
		width: 45%;
	}
	.agileits_categories h4, .agileits_widget h4, .agileits_tags h4, .w3ls_comment h4 {
		font-size: 1.4em;
	}
	.w3_about_grid h3 {
		font-size: 1.4em;
	}
	.w3_about_grid:nth-child(2) {
		margin: 1em auto 0;
		width: 100%;
	}
	.agileits_skills_grids {
		margin: 2em 0 0;
	}
	.agile_team_grid {
		float: none;
		width: 70%;
		margin:0 auto;
	}
	.agile_team_grid:nth-child(2) {
		margin: 2em auto;
	}
	.agile_team_grid:nth-child(4) {
		margin: 2em auto 0;
	}
	.agileinfo_mail_grid_right iframe {
		min-height: 250px;
	}
}
@media (max-width: 414px){
	.agile_count_grid h3 {
		letter-spacing: 0px;
	}
	.view-sixth .mask {
		padding: 8.5em 0 0;
	}
	.w3_blog_grid_left, .w3_blog_grid_right {
		float: none;
		width: 90%;
		margin: 0 auto;
	}
	.w3_blog_grid_right {
		min-height: auto;
		padding: 2em;
	}
	.w3agile_newsletter_left p {
		margin: 1em 0 0;
	}
	.w3agile_newsletter_left h3 {
		font-size: 1.4em;
	}
	.agileinfo_footer_grid {
		padding: 0;
	}
	.agileinfo_footer_grid h2 a {
		font-size: .9em;
	}
	.agileinfo_services_grid {
		width: 100%;
	}
	.w3agile_single_left1 h4 {
		font-size: 1.2em;
	}
	.agile_recent_tag ul li a {
		font-size: .7em;
		display: block;
	}
	.w3agile_single_left2_grid {
		width: 100%;
		padding: 0 1em;
	}
	.banner1 h3 {
		font-size: 1.5em;
	}
	.banner1 {
		min-height: 145px;
	}
	.agile_team_grids {
		margin: 2em 0 0;
	}
	.agile_team_grid {
		width: 80%;
	}
	.w3_about_grid p i {
		margin: 1em 0 0em;
	}
	.agileinfo_mail_grid_left,.agileinfo_mail_grid_right {
		padding: 0;
	}
}
@media (max-width: 384px){
	.w3l_banner_info_grid h3 {
		font-size: 1.3em;
	}
	.w3ls_banner_scroll {
		left: 48%;
	}
	h3.head {
		font-size: 1.4em;
	}
	.agile_count_grid {
		padding: 0 .5em;
	}
	.agile_count_grid h3 {
		font-size: 14px;
	}
	.view-sixth .mask {
		padding: 7.5em 0 0;
	}
	.w3_blog_grid_right {
		padding: 2em 2em 3em;
	}
	.w3agile_single_left1 h4 {
		line-height: 1.6em;
	}
	.agile_recent_tag ul li a {
		margin-bottom: .5em;
	}
	.w3ls_comment input[type="submit"] {
		width: 100%;
	}
	.w3_search input[type="text"] {
		width: 70%;
	}
	.w3_search input[type="submit"] {
		width: 28%;
	}
	.w3_about_grid h3 {
		font-size: 1.2em;
	}
	.agileinfo_mail_grid_right iframe {
		min-height: 200px;
	}
	.agile_team_grid {
		width: 90%;
	}
	.w3agile_newsletter_left,.w3agile_newsletter_right {
		padding: 0;
	}
}
@media (max-width: 320px){
	.navbar-brand {
		font-size: .85em;
		height: 63px;
		line-height: 33px;
	}
	.w3l_banner_info_grid h3 {
		font-size:1.1em;
	}
	p, ul li, ol li {
		font-size: 13px;
	}
	.banner {
		background-position: -280px 0px;
	}
	h3.head {
		font-size: 1.24em;
	}
	.agile_count_grid {
		padding: 0 1em;
		float: none;
		width: 75%;
		margin: 0 auto;
	}
	.agile_count_grid:nth-child(2) {
		margin: 2em auto;
	}
	.agile_count_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.view-sixth .mask {
		padding: 6.5em 0 0;
	}
	.w3_blog_grid_right h4 a {
		font-size: 1.1em;
	}
	.w3_blog_grid_right {
		padding: 1.5em 1.5em 2em;
	}
	.w3_blog_grid_left, .w3_blog_grid_right {
		width: 100%;
	}
	.w3_blog_grid_right ul li:last-child {
		margin-left: 1.5em;
	}
	.w3agile_newsletter_right input[type="email"],p.b_label,p.urna,.w3_search input[type="text"],.w3_search input[type="submit"],.w3ls_comment input[type="text"], .w3ls_comment input[type="email"], .w3ls_comment textarea,.w3agile_single_left2_grid p,.w3agile_more a,.nav > li > a,.w3agile_newsletter_right input[type="submit"] {
		font-size: 13px;
	}
	.w3agile_newsletter_right {
		margin: 1em 0 0;
	}
	.agileinfo_footer_grid h3 {
		font-size: 1.2em;
	}
	.agileinfo_footer_grid h2 a {
		font-size: .8em;
	}
	.agileinfo_services_grid,.agileits_skills_grid {
		padding: 0;
	}
	.agileinfo_services_grid1 h4 a {
		font-size: .9em;
	}
	.wthree_share_post h4 {
		font-size: 1.2em;
		margin: 0 0 0.5em;
	}
	.w3ls_comment {
		margin: 2em 0 0;
	}
	.agileits_categories h4, .agileits_widget h4, .agileits_tags h4, .w3ls_comment h4 {
		font-size:1.2em;
	}
	.agileinfo_mail_grid_left input[type="text"], .agileinfo_mail_grid_left input[type="email"], .agileinfo_mail_grid_left textarea {
		padding: 10px;
		font-size: 13px;
	}
	.agileinfo_mail_grid_left textarea {
		min-height: 100px;
	}
	.agileinfo_mail_grid_right {
		margin: 2em 0 0;
	}
	.banner1 {
		min-height: 125px;
	}
	.banner1 h3 {
		margin: 1.5em 0 0;
	}
	.banner1 h3:before, .banner1 h3:after {
		width:60%;
	}
	.banner1 h3:before {
		left: 20%;
	}
	.banner1 h3:after {
		right: 20%;
	}
}
