/* Show it is fixed to the top */
body {
  min-height: 100rem;
  padding-top: 4.5rem;
}

article li {
	padding: 7px;
}

footer {
	padding-top: 100px;
}

@media only all and (min-width: 3000px) {
	body {
		font-size: 200%;
	}

	h2 {
		font-size: 200%;
	}
}

@media only all and (min-width: 2000px) and (max-width: 2999px) {
	body {
		font-size: 150%;
	}

	h2 {
		font-size: 150%;
	}
}

@media only all and (min-width: 1200px) {
	.left-side > header {
		text-align: left;
		padding-left: 10px;	
	}

	.right-side > header {
		text-align: right;	
		padding-right: 10px;			
	}

	article {
		margin-top: 30px;
	}
}

@media only all and (min-width: 992px) {
	.left-side > header {
		text-align: left;
		padding-left: 10px;	
	}

	.right-side > header {
		text-align: right;	
		padding-right: 10px;			
	}

	article {
		margin-top: 30px;
	}
}

@media only all and (min-width: 768px) and (max-width: 991px) {
	.left-side > header, .right-side > header {
		text-align: center;	
	}

	article h2 {
		font-size: 23pt;
	}

	article {
		margin-top: 40px;
	}
}

@media only all and (min-width: 576px) and (max-width: 767px) {
	.left-side > header, .right-side > header {
		text-align: center;
	}

	article h2 {
		font-size: 20pt;
	}

	article {
		margin-top: 40px;
	}
}

@media only all and (max-width: 575px) {
	.left-side > header, .right-side > header {
		text-align: center;
	}

	article {
		margin-top: 30px;
	}

	.someimg {
		text-align: center;
	}
}