body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  padding-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  
}

#b {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	background: grey;
	z-index:1;
}

#a {
	border:1px solid black;
	position:fixed;
	background: #eff7ff;
	z-index:3;
	display:none;
}

#windows {
	padding:5px;
	width: 500px;
	height: 300px;
	border: 2px solid blue; 
}
